/*
    display
  flex / position
  overflow
    margin / padding
  width / height
  border
    color
    font
    animation
*/

/* Imports */
@import url("normalize.css");

/* Variables */
:root {
	/* Color Scheme */
	--main-color: #232931;
	--shade-color: rgb(23, 27, 30);
	--accent-color: #4ecca3;
	--overlay-color: rgba(34, 41, 49, 0.822);
	--font-color: #f5f5f3;

	/* Typography */
	--main-font: "Montserrat", sans-serif;
	--main-font-fallback: sans-serif;
	/* --accent-font: */
	--main-font-wght: 500;
	--base-size: 0.79rem;
	--type-scale: 1.125; /* Screen Sizes | L - Major 3rd - 1.25 | M - 1.2 Minor 3rd | S - 1.125 Major 2nd */
	--h6: calc(var(--base-size) * var(--type-scale));
	--h5: calc(var(--h6) * var(--type-scale));
	--h4: calc(var(--h5) * var(--type-scale));
	--h3: calc(var(--h4) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
}

/* Assign typescale sizes */
h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

p {
	font-size: var(--base-size);
}

/* Reset, Border-Box, & Font-Var-Set */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-variation-settings: "wght" var(--main-font-wght);
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

body {
	background-color: var(--main-color);
	font-family: var(--main-font-fallback);
	color: var(--font-color);
}

#root {
	width: 100%;
}

/* Check Var Font Support */
@supports (font-variation-settings: "wght" 500) {
	body {
		font-family: var(--main-font);
	}
}

nav {
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0;
	min-height: 15vh;
	width: 100%;
	top: 0;
	z-index: 80;
	background-color: var(--shade-color);
	text-transform: uppercase;
}

nav > h1 {
	margin-bottom: 0.75em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

nav > ul a,
nav > ul a:link,
nav > ul a:visited,
nav > ul a:hover,
nav > ul a:active {
	padding: 0 0.4em;
	color: var(--font-color);
	text-decoration: none;
	font-size: var(--base-size);
	--main-font-wght: 650;
	letter-spacing: 3px;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav > ul li::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: var(--font-color);
	transition: width 0.3s;
}

nav > ul li:hover::after {
	width: 100%;
	transition: width 0.3s;
}

body > article:first-of-type,
body > article:first-of-type:not([class="intro"]) {
	margin-top: 11em;
}

.intro {
	margin: 0 auto 6em;
	width: 90%;
}

.intro h1 {
	margin-bottom: 0.3em;
	letter-spacing: 2px;
}

.intro h2 {
	margin-bottom: 0.3em;
	font-size: var(--h4);
	--main-font-wght: 450;
	letter-spacing: 2px;
}

.intro h3 {
	margin-bottom: 2em;
	font-size: var(--h5);
	--main-font-wght: 300;
	letter-spacing: 1px;
}

.intro p {
	margin-bottom: 0.5em;
	letter-spacing: 1px;
}

.skills div {
	flex: 100%;
}

.skills p {
	text-align: center;
	font-size: var(--h6);
}

body > article:not([class="intro"]) {
	margin: 0 auto;
	margin-top: 1em;
	max-width: 80%;
	text-align: center;
	letter-spacing: 5px;
}

body > article:not([class="intro"]) {
	margin-bottom: 4em;
}

article:not([class="intro"]) h1,
article:not([class="intro"]) h2,
article:not([class="intro"]) h3 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

body > article:not([class="intro"]) h2 + h3 {
	margin-top: 1em;
	margin-bottom: 3em;
	--main-font-wght: 300;
	text-transform: uppercase;
}

body > article:not([class="intro"]) h2 + p {
	margin: auto;
	margin-top: 2em;
	letter-spacing: 1px;
	line-height: 1.5em;
}

article > article,
article > section {
	display: flex;
}

article > article {
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 3em 0;
}

article > section {
	flex-flow: column wrap;
	align-content: center;
	margin: 2em auto;
	letter-spacing: 2px;
}

section > div h3 {
	margin-bottom: 1.3em;
	font-size: var(--h5);
	--main-font-wght: 400;
}

section > div:not(:first-of-type) {
	margin-top: 2em;
}

article > section h4 {
	margin-top: .7em;
	font-size: var(--h6);
	--main-font-wght: 300;
}

article > div > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1em;
}

article > div + div {
	min-width: 90%;
}

article > div + div h3 a {
	font-size: var(--h2);
	--main-font-wght: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
}

article > div + div h4 {
	margin-top: 1em;
	--main-font-wght: 200;
	letter-spacing: 2px;
}

article > div + div p {
	margin-top: 1.5em;
	letter-spacing: 2px;
	line-height: 1.6em;
}

article > div + div a {
	padding: 0.3em;
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
}

article > div + div h3 a:hover,
article > div + div a:hover {
	color: var(--main-color);
	background-color: var(--accent-color);
}

.thumb {
	position: relative;
	/* margin-left: 2em; */
	/* margin-right: 2em; */
	/* width: 300px; */
	width: 150px;
	/* height: 300px; */
	height: 150px;
	clip-path: polygon(50% 2%, 0% 70%, 100% 70%);
	background: var(--font-color);
	transition: transform 1s;
}

.thumb .overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
	text-align: center;
}

.thumb:hover .overlay {
	display: block;
	background: var(--overlay-color);
}

.thumb-txt {
	margin-top: 40%;
	border: 2px solid var(--accent-color);
	text-transform: uppercase;
}

/*
------ Tablet
*/
@media screen and (min-width: 650px) {
	:root {
		--base-size: .90rem;
		--type-scale: 1.2;
	}

	nav > ul a {
		--main-font-wght: 400;
	}

	body > article:first-of-type,
	body > article:first-of-type:not([class="intro"]) {
		margin-top: 16em;
	}

	.intro {
		margin-top: 16em;
		margin-bottom: 10em;
		width: 80%;
	}

	.intro p {
		margin-bottom: 0.7em;
	}

	.skills > section > div {
		flex: 50%;
		margin-bottom: 5em;
	}

	body > article:not([class="intro"]) {
		margin-bottom: 8em;
	}

	article > section {
		flex-flow: row wrap;
		justify-content: space-around;
		max-width: 70%;
		margin: 3.5em auto;
		letter-spacing: 1px;
	}

	section > div:not(:first-of-type) {
		margin: 0;
	}

	section > div h3 {
		margin-bottom: 2em;
		font-size: var(--h6);
	--main-font-wght: 500;
	}

	article > section h4 {
		margin-top: .7em;
		font-size: var(--p);
	--main-font-wght: 400;
		letter-spacing: 2px;
	}

	body > article:not([class="intro"]) h2 + p {
    margin-top: 3em;
    letter-spacing: 1px;
    line-height: 1.8em;
	}

	article > div + div h3 a {
		font-size: var(--h3);
	}

	.thumb {
		width: 250px;
		height: 250px;
	}
}

/*
------ Desktop
*/
@media screen and (min-width: 1000px) {
	:root {
		--base-size: 0.90rem;
		--type-scale: 1.2;
	}

	nav {
		flex-flow: row wrap;
		justify-content: space-between;
		padding: .75em 0;
	}

	nav > h1 {
		margin-left: 1em;
		letter-spacing: 5px;
	}

	nav > ul a {
		font-size: var(--p);
		--main-font-wght: 500;
	}

	nav li {
		margin-right: 3em;
	}

	body > article:first-of-type {
		margin-top: 1em;
	}

	.intro {
		margin-top: 15em;
		margin-bottom: 8em;
		width: 70%;
	}

	.intro p {
		margin-bottom: 1em;
		letter-spacing: 1px;
	}

	.skills > section > div {
		flex: 50%;
		margin-bottom: 5em;
	}

	body > article:first-of-type:not([class="intro"]) {
		margin-top: 12em;
	}

	body > article:not([class="intro"]) {
		margin: 0 auto;
		margin-top: 8em;
		max-width: 100%;
		text-align: center;
	}

	article > section {
		margin: 4em auto;
		max-width: 80%;
	}

	article > section h3 {
		letter-spacing: 5px;
	}

	section > div h3 {
		margin-bottom: 1.3em;
		font-size: var(--h4);
		--main-font-wght: 400;
	}

	article > section p {
		margin-top: .7em;
		font-size: var(--h6);
		--main-font-wght: 300;
		letter-spacing: 2px;
	}

	body > article:not([class="intro"]) h2 + p {
		margin-top: 3em;
		width: 50%;
    letter-spacing: 1px;
    line-height: 2em;
	}

	article > article:first-of-type {
		margin-top: 10em;
	}

	article > div + div {
		min-width: 50%;
		max-width: 50%;
		text-align: left;
	}

	article > div + div h3 a {
		color: var(--accent-color);
	}

	article > div + div h4 {
		font-size: var(--h5);
	}

	article > div + div p {
		margin-top: 2em;
	}

	.thumb {
		margin-left: 2em;
		margin-right: 2em;
		width: 300px;
		height: 300px;
	}
}
