/*
    display
  flex / position
  overflow
    margin / padding
  width / height
  border
    color
    font
    animation
*/

/* Imports */
@import url("normalize.css");

/* Variables */
:root {
	/* Color Scheme */
	--main-color: #232931;
	--shade-color: rgb(23, 27, 30);
	--accent-color: #4ecca3;
	--overlay-color: rgba(34, 41, 49, 0.822);
	--font-color: #f5f5f3;

	/* Typography */
	--main-font: "Montserrat", sans-serif;
	--main-font-fallback: sans-serif;
	/* --accent-font: */
	--main-font-wght: 500;

	--base-size: 0.701rem;
	--type-scale: 1.125; /* Screen Sizes | L - Major 3rd - 1.25 | M - 1.2 Minor 3rd | S - 1.125 Major 2nd */
	--p: calc(var(--base-size) * var(--type-scale));
	--h6: calc(var(--p) * var(--type-scale));
	--h5: calc(var(--h6) * var(--type-scale));
	--h4: calc(var(--h5) * var(--type-scale));
	--h3: calc(var(--h4) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
}

/* Assign typescale sizes */
h1,
nav > .title {
	font-size: var(--h1);
}

h2,
.intro > .subtitle {
	font-size: var(--h2);
}

h3,
.intro > .contact {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

p {
	font-size: var(--p);
}

/* Reset, Border-Box, & Font-Var-Set */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-variation-settings: "wght" var(--main-font-wght);
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

body {
	background-color: var(--main-color);
	font-family: var(--main-font-fallback);
	color: var(--font-color);
}

#root {
	width: 100%;
}

/* Check Variable Font Support */
@supports (font-variation-settings: "wght" 500) {
	body {
		font-family: var(--main-font);
	}
}

nav {
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0;
	min-height: 15vh;
	width: 100%;
	top: 0;
	z-index: 80;
	background-color: var(--shade-color);
	text-transform: uppercase;
}

nav > .title {
	margin-top: 0.7em;
	margin-bottom: 0.75em;

	text-transform: uppercase;
	letter-spacing: 5px;
}

nav > ul a,
nav > ul a:active,
nav > ul a:focus,
nav > ul a:hover,
nav > ul a:link,
nav > ul a:visited {
	padding: 0 0.4em;

	color: var(--font-color);
	text-decoration: none;
	font-size: var(--p);
	--main-font-wght: 650;
	letter-spacing: 3px;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav > ul li::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: var(--font-color);
	transition: width 0.3s;
}

nav > ul li:has(a:active)::after,
nav > ul li:has(a:focus)::after {
	width: 100%;
	transition: width 0s;
}

nav > ul li:hover::after {
	width: 100%;
	transition: width 0.3s;
}

.intro {
	margin: 10em auto 0;
	width: 90%;
}

.intro h1 {
	margin-bottom: 0.3em;

	letter-spacing: 2px;
}

.intro h2,
.intro .subtitle {
	margin-bottom: 0.3em;

	font-size: var(--h4);
	--main-font-wght: 450;
	letter-spacing: 2px;
}

.intro h3,
.intro .contact {
	margin-bottom: 2em;

	font-size: var(--h5);
	--main-font-wght: 300;
	letter-spacing: 1px;
}

.intro p:not(.subtitle):not(.contact) {
	margin-bottom: 0.5em;

	letter-spacing: 1px;
}

.intro p,
.skills h3,
.skills p,
.date-skills-container p,
.desc-container p {
	--main-font-wght: 400;
}

body > div > article:not(:first-of-type) {
	margin-top: 3.5em;
}

article:not(.intro) h1,
article:not(.intro) h2,
article:not(.intro) h3 {
	text-align: center;
	text-transform: uppercase;

	letter-spacing: 5px;
}

article > article,
article > section {
	display: flex;
	flex-flow: column;
	align-content: center;

	margin-top: 2em;
}

.skills > section > div {
	flex: 100%;
}

.skills > section > div:not(:first-of-type) {
	margin-top: 2em;
}

.skills h3 {
	margin-bottom: 1.3em;

	font-size: var(--h5);
}

.skills p {
	text-align: center;
	font-size: var(--h6);
	letter-spacing: 2px;
}

.projects {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.project {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto;

	margin-top: 2em;
}

.project:last-of-type {
	margin-bottom: 3em;
}

.thumb {
	position: relative;
	justify-self: center;
	width: 100px;
	height: 100px;
	/*clip-path: polygon(50% 2%, 0% 70%, 100% 70%);*/
	/* background: var(--font-color); */
	transition: transform 1s;
}

.thumb img {
	height: 100%;
	width: 100%;
}

.thumb .overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--accent-color);
	text-align: center;
}

.thumb:has(a:active) .overlay,
.thumb:has(a:focus) .overlay,
.thumb:hover .overlay {
	display: block;
	background: var(--overlay-color);
	border: 3px solid var(--accent-color);
}

.thumb-txt {
	width: 90%;
	margin-top: 40%;
	margin-left: auto;
	margin-right: auto;

	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);

	font-size: var(--base-size);
	text-transform: uppercase;
}

.info-container {
	grid-column: 2/3;
	grid-row: 1/2;

	display: flex;
	flex-direction: row;
	flex-flow: column;
	margin-left: 1em;
}

.info-container h3 {
	margin-top: .4em;
	align-self: flex-start;
	text-align: left;
	font-size: var(--h6);
}

.info-container > .date-skills-container {
	margin-top: auto;
}

.info-container p {
	letter-spacing: 2px;
	line-height: 1.8em;
}

.info-container a {
	padding: 0.3em;
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
	text-decoration: none;
}

.info-container a:active,
.info-container a:focus,
.info-container a:hover {
	color: var(--main-color);
	background-color: var(--accent-color);
}

.desc-container {
	grid-column: 1/3;
	grid-row: 2/3;

	margin-top: .75em;

	letter-spacing: 1px;
}

.desc-container p {
	line-height: 1.25em;
}

.desc-container p:not(:first-child) {
	margin-top: .6em;
}

/*
------ Tablet
*/
@media screen and (min-width: 650px) {
	:root {
		--base-size: .75rem;
		--type-scale: 1.2;
	}

	nav > ul a {
		--main-font-wght: 400;
	}

	body > div > article:first-of-type {
		margin-top: 16em;
		width: 80%;
	}

	.intro p {
		margin-bottom: 0.7em;
	}

	.intro p,
	.desc-container p {
		font-size: var(--p);
	}

	.intro p,
	.skills h3,
	.project p {
		--main-font-wght: 500;
	}

	body > div > article:not(:first-of-type) {
		margin-top: 5em;
	}

	.skills > section {
		flex-flow: row wrap;
	}

	.skills > section > div:not(:first-of-type) {
		margin: 0;
	}

	.skills > section > div:nth-child(n+3) {
		margin-top: 2.25em;
	}

	.skills > section > div {
		flex: 50%;
	}

	.skills h3 {
		margin-bottom: 1.25em;
		font-size: var(--h6);
	}

	.skills p {
		--main-font-wght: 450;
	}

	.project {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto auto;

		margin-top: 3em;
	}

	.project:last-of-type {
		margin-bottom: 4em;
	}

	.thumb {
		height: 150px;
		width: 150px;
	}

	.thumb-txt {
		font-size: var(--p);
	}

	.info-container h3 {
		margin-top: .4em;

		font-size: var(--h4);
	}

	.date-skills-container {
		flex-flow: column;
	}

	.date-skills-container p {
		font-size: var(--h6);
	}

	.desc-container {
		margin-top: 1.25em;
	}
}

/*
------ Desktop
*/
@media screen and (min-width: 1000px) {
	:root {
		--base-size: .75rem;
		--type-scale: 1.2;
	}

	nav {
		flex-flow: row wrap;
		justify-content: space-between;
		padding: .75em 0;
	}

	nav > .title {
		margin-left: 1em;
		letter-spacing: 5px;
	}

	nav > ul a {
		font-size: var(--p);
		--main-font-wght: 500;
	}

	nav li {
		margin-right: 3em;
	}

	body > div > article:first-of-type {
		margin-top: 15em;
		width: 70%;
	}

	.intro p {
		margin-bottom: 1em;

		font-size: var(--h6);
		letter-spacing: 1px;
	}

	body > div > article:not(:first-of-type) {
		margin-top: 8em;
	}

	.skills > section > div {
		flex: 50%;
		margin-bottom: 5em;
	}

	.skills h3 {
		font-size: var(--h4);
		--main-font-wght: 400;
	}

	.skills p {
		font-size: var(--h6);
		--main-font-wght: 350;
	}

	.projects {
		width: 70%;
	}

	.project {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-rows: auto auto;

		margin-top: 6em;
	}

	.project:first-of-type {
		margin-top: 4em;
	}

	.project:last-of-type {
		margin-bottom: 6em;
	}

	.thumb {
		height: 250px;
		width: 250px;
	}

	.thumb-txt {
		font-size: var(--h5);
	}

	.info-container {
		margin-left: 2.5em;
	}

	.info-container > .date-skills-container {
		margin-top: 3.5em;
		justify-self: center;
	}

	.date-skills-container p {
		font-size: var(--h5);
	}

	.desc-container {
		margin-top: 2em;
	}

	.desc-container p {
		font-size: var(--h6);
	}

	body > article:first-of-type:not(.intro) {
		margin-top: 12em;
	}

	body > article:not(.intro) {
		margin: 0 auto;
		margin-top: 8em;
		max-width: 100%;
		text-align: center;
	}

	article > section {
		margin: 4em auto;
		max-width: 80%;
	}

	article > section h3 {
		letter-spacing: 5px;
	}

	section > div h3 {
		margin-bottom: 1.3em;
		font-size: var(--h4);
		--main-font-wght: 400;
	}

	article > section p {
		margin-top: .7em;
		font-size: var(--h6);
		--main-font-wght: 300;
		letter-spacing: 2px;
	}

	body > article:not(.intro) h2 + p {
		margin-top: 3em;
		width: 50%;
    letter-spacing: 1px;
    line-height: 2em;
	}

	article > div + div h3 a {
		color: var(--accent-color);
	}

	article > div + div h4 {
		font-size: var(--h5);
	}
}
